<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Home Page</title>
</head>
<body>
    <div class="ui container">
    {{>header}}
    <h2><center>The covid 19 app <a style="color:Red">{{message}}</a></center></h2>
   

<div class="ui four column doubling stackable grid container">
  <div class="column">
    <div class="ui card">
  <div class="content">
    <div class="center aligned header">New Confirmed Cases</div>
    <div class="center aligned description">
      <h1>{{newCases}}</h1>
    </div>
  </div>
 
</div>
  </div>
  <div class="column">
     <div class="ui card">
  <div class="content">
    <div class="center aligned header">Total Confirmed Cases</div>
    <div class="center aligned description">
      <h1>{{totalCases}}</h1>
    </div>
  </div>
 
</div>
  </div>
  <div class="column">
    <div class="ui card">
  <div class="content">
    <div class="center aligned header">Total Deaths</div>
    <div class="center aligned description">
      <h1>{{totalDeaths}}</h1>
    </div>
  </div>
 
</div>
  </div>
  <div class="column">
    <div class="ui card">
  <div class="content">
    <div class="center aligned header">Total Recovered</div>
    <div class="center aligned description">
      <h1>{{totalRecovered}}</h1>
    </div>
  </div>
 
</div>
  </div>
  <center>Last updated on: {{date}}</center>
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  By country 30 days stats
</h4>
<div class="ui row">
<form class="ui form">
  <div class="field">
  
    <input id="country" placeholder="Enter Country">
    
  </div>
  <button class="ui button" >Search</button>
 
</form>

</div>
  <h2 id="message"></h2>
  {{!-- <div class="ui grid">
  <div class="four wide column">a</div>
  <div class="four wide column">b</div>
  <div class="four wide column">c</div>
  <div class="four wide column">d</div>
</div> --}}
  <table class="ui celled table" >
     {{!-- <table class="ui celled table" id="searchTable"> --}}
  <thead>
    <tr><th>Flag</th>
      <th>Active</th>
    <th>Confirmed</th>
    <th>Deaths</th>
    <th>Recovered</th>
  </tr></thead>
  <tbody>
    <tr>
      <td ><img id="flag" src="" height="80"/></td>
      <td id="searchActive">James</td>
      <td id="searchConfirmed">24</td>
      <td id="searchDeath">Engineer</td>
      <td id="searchRecovered">Designer</td>
    </tr>
  
    
  </tbody>
</table>


<style>
html,body{
    height: 100%
}
</style>
</div>



    </div>
 <div style="   position: absolute;
    bottom: 0;
    width: 100%;">
    <center>Made with 💓 by Roble Yare 🐢</center>
    </div>
    <script src="/js/app.js"></script>
</body>
 {{!-- {{>footer}} --}}
</html>
